*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

body {
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  background: url(https://i.stack.imgur.com/wPkOT.jpg) top center repeat-y;
  background-size: cover;
  background-position:50% 50%;
  color: white;
}

p {
  margin-left: .5em;
  text-indent: -.5em;
  padding-left: .5em;
}

a {
  color: #456990;
  text-decoration: none;
}

img.ship-icon {
  display: inline;
  width: 1.2em;
}

/* .section SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.section {
  background: #456990;
  padding-bottom: 0.5em;
}

.section .container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.section h1 {
  font-size: 2.5rem;
  /* font-family: 'Rubik', sans-serif; */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: lightblue;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
}

.section h2 {
  font-size: 1.3rem;
  /* font-family: 'Rubik', sans-serif; */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
}


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline {
  margin-top: 3em;
  white-space: nowrap;
  overflow-x: hidden;
}

.timeline ol {
  font-size: 0;
  width: 100vw;
  padding: 250px 0;
  transition: all 1s;
}

.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 230px;
  height: 3px;
  background: #fff;
}

.timeline ol li:last-child {
  width: 280px;
}

.timeline ol li:not(:first-child) {
  margin-left: 30px;
}

.timeline ol li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(100% + 0px);
  bottom: 0;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #456c96; /* Old Browsers */
  background: -webkit-radial-gradient(center,#456c96,#27507c); /*Safari 5.1-6*/
  background: -o-radial-gradient(center,#456c96,#27507c); /*Opera 11.1-12*/
  background: -moz-radial-gradient(center,#456c96,#27507c); /*Fx 3.6-15*/
  background: radial-gradient(ellipse at center, #456c96, #27507c); /*Standard*/
}

.timeline ol li div {
  position: absolute;
  left: calc(100% + 16px);
  width: 390px;
  padding: 15px;
  font-size: 1rem;
  white-space: normal;
  color: black;
  background: white;
}

.timeline ol li div::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ol li:nth-child(odd) div {
  border-radius: .5em .5em .5em 0;
  top: -13px;
  transform: translateY(-105%);
}

.timeline ol li:nth-child(odd) div::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: white transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
  border-radius: 0 .5em .5em .5em;
  top: calc(100% + 25px);
}

.timeline ol li:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent white;
}

.timeline time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

li {
  background-color: blue;
}

/* TIMELINE ARROWS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline .arrows {
  display: flex;
  justify-content: center;
}

.timeline .arrows .arrow__prev {
  margin-right: 20px;
}

.timeline .disabled {
  opacity: .5;
}

.timeline .arrows img {
  width: 45px;
  height: 45px;
}

div.arrows {
  margin-top: 1.7em;
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width:320px) and (max-width:420px) {
  .section h1 {
    font-size: 2rem;
    /* font-family: 'Rubik', sans-serif; */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: lightblue;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
  }

  .section h2 {
    font-size: 1.3rem;
    /* font-family: 'Rubik', sans-serif; */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
  }

  .timeline {
    margin-top: -.5em;
    white-space: nowrap;
    overflow-x: hidden;
  }

  .timeline ol,
  .timeline ol li {
    width: auto;
  }

  .timeline ol {
    padding: 0;
    transform: none !important;
  }

  .timeline ol li {
    display: block;
    height: auto;
    background: transparent;
  }

  .timeline ol li:first-child {
    margin-top: 25px;
  }

  .timeline ol li:not(:first-child) {
    margin-left: auto;
  }

  .timeline ol li div {
    width: 94%;
    height: auto !important;
    margin: 0 auto 25px;
  }

  .timeline ol li div {
    position: static;
  }

  div {
    border-radius: .5em .5em .5em .5em !important;
  }

  .timeline ol li:nth-child(odd) div {
    transform: none;
    border-radius: .5em .5em .5em .5em;
  }

  .timeline ol li:nth-child(odd) div::before,
  .timeline ol li:nth-child(even) div::before {
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: none;
    border-left: 1px solid white;
    height: 25px;
    border-radius: .5em .5em .5em .5em;
  }

  .timeline ol li:last-child,
  .timeline ol li:nth-last-child(2) div::before,
  .timeline ol li:not(:last-child)::after,
  .timeline .arrows {
    display: none;
  }
}
